<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (menu.length > 0) { %>
                    <div class="grid">
                        <% for (let menus of menu) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= menus.foodName %>
                                    </h1>
                                </header>
                                <div class="card__content">
                                    <h2 class="product__price">Rs
                                        <%= menus.price %>
                                    </h2>
                                </div>
                                <div class="card__actions">
                                    <a href="/editmenu/<%= menus._id %>?edit=true" class="btn">Edit</a>
                                    <form action="/deletemenu" method="POST">
                                        <input type="hidden" value="<%= menus._id %>" name="menuId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No menus Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>